.main {
  background-size: cover;
  height: 100vh;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  max-width: 1200px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.out-box {
  backdrop-filter: blur(20px);
  background-color: #d2f3fa94;
  display: flex;
  padding: 0px;
  width: 30%;


  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 1.5rem;
}

.box {
  color: #000;
  width: 100%;
  border: 2px dashed #ccc;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #ffffff;

  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: contain;

  position: absolute;
  top: 0;
  left: 0;
}

.loading {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.box input {
  display: none;
}